<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Library Management System</h1>
    </header>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/books}">Books</a>
        <a th:href="@{/authors}">Authors</a>
        <a th:href="@{/borrowers}">Borrowers</a>
        <a th:href="@{/books/recent}">Recently Viewed Books</a>
    </nav>
    <div class="container">
        <h1>Add Author</h1>
        <form th:action="@{/authors/add}" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" th:value="${author.name}" required>
            <input type="submit" value="Add Author">
        </form>
    </div>
</body>
</html>
