<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Borrowers</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Borrowers</h1>
<a href="/borrowers/add">Add Borrower</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="borrower : ${borrowers}">
        <td th:text="${borrower.id}"></td>
        <td th:text="${borrower.name}"></td>
        <td>
            <a th:href="@{/borrowers/edit/{id}(id=${borrower.id})}">Edit</a>
            <a th:href="@{/borrowers/delete/{id}(id=${borrower.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
