<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Library Management System</h1>
    </header>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/authors}">Authors</a>
        <a th:href="@{/authors/add}">Add Author</a>
    </nav>
    <div class="container">
        <h1>Edit Author</h1>
        <form th:action="@{/authors/edit}" method="post">
            <input type="hidden" name="id" th:value="${author.id}">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" th:value="${author.name}" required>
            <input type="submit" value="Update Author">
        </form>
    </div>
</body>
</html>
